body{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size:28px;
	font-weight:400
	text-align:center;
	margin:0;
	padding:0;
  background-color: #000;

}

.outer{
  text-align: center;
}

.page{
	position:relative;
	margin-top:0px;
	background-color: #FFF;
  max-width:1200px;
  width:100%;
  height:100%;
  display: inline-block;
  text-align: left;
  height:99vh;
}

.navbar{
	position: sticky;
	top:0;
	width:100%
	height:75px;
	background-color: darkorange;
	z-index: 100;
	opacity .9;
}

.tile{
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px
}

.tilebg1{
	background-image: url("img/oru1.jpg");
	background-repeat: no no-repeat;
	background-size: cover;
	height: 400px;
}

.tilebg2{
	background-image: url("img/oru2.jpg");
}

.tilebg3{
	background-image: url("img/oru3.jpg");
	background-repeat: no no-repeat;
	background-size: cover;
	height: 400px;
}

.tilebg4{
	background-image: url("img/oru4.jpg");
	background-repeat: no no-repeat;
	background-size: cover;
	height: 400px;
}










